:root {
    --primary: #412508;
    --secondary: #765827;
    --muda: #FFF5E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--muda);
    color: var(--primary);
}

/*navbar*/
.logo {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5PX;
    padding-right: 40px;
    background-color: var(--primary);
    position: fixed;
    width: 100%;
}

.navbar-content {
    color: var(--muda);
    
}

.navbar-content a {
    color: #E2EDE9;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.navbar-content a:hover {
    color: #C8AE7D;
}

.navbar-content i:hover {
    color: #C8AE7D;
}

.navbar-content i {
    color: var(--muda);
    padding: 5px;
    font-size: 18px;
}

/*home*/
.slides img {
    width: 100%;
    height: fit-content;
    padding-top: 55px;
}

/*about us*/
.about-img {
    width: 275px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 37px;
}
.about-us {
    text-align: center; 
}
.about-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    padding: 20px; 
}
.about-text h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #65451F; 
}
.slogan {
    text-align: center;
    color: #000000;
    margin-top: 10px;
    font-weight: bold;
}
.description {
    text-align: justify;
    margin: 20px 0; 
    margin-right: 200px;
    margin-left: 200px;
    font-weight: 600;
    color: #000000;
    line-height: 1.4;
}
.about-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}

/*Order Online*/
#order-online{
    background-color: #C8AE7D;
    text-align: center; 
    padding: 50px 0; 
}
.order-online-container{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.order-online-text {
   width: 60%;
   text-align: center;
   padding: 20px;
   margin-top: 10px;
}
.order-online-text h1 {
    font-size: 37px;
    font-weight: bold;
    color: #000000;
}
.motto{
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    font-weight: bold; 
}
.detail{
    margin: 20px 0; 
    margin-right: 90px;
    margin-left: 90px;
    font-weight: 600;
    color: #000000;
    line-height: 1.5;
}
.order-online-image {
    width: 30%;  
}
.order-online-image img {
    max-width: 100%;  
}
.order-online-image:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}
.full-menu-button {
    background-color: #765827; 
    margin-top: 20px;
    color: #ffffff; 
    font-size: 15px; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer; 
    font-weight: bold;
    border-radius: 20px;
}
.full-menu-button:hover {
    background-color: #F2E8C6; 
    color: #000000;
    font-weight: bold;
}
